* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}
$main-color: #ee4d2d;
$second-color: #f5f5f5;
header {
    background-color: $main-color;
    height: 120px;
    color: white;
    .container {
        height: 100%;
    }
    .navbar {
        height: 20%;
    }
    .header-content {
        height: 80%;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .left-navbar {
        display: none;
    }
    .bottom-navbar {
        display: none;
    }
    .right-navbar ul {
        justify-content: end;
    }
    li {
        cursor: pointer;
        padding: 5px;
    }
    .split-right-nav {
        flex-grow: 1;
    }
    .logo {
        display: flex;
        align-items: center;
        padding: 0 0 10px 10px;
    }
    .cart {
        text-align: center;
    }
    .cart i {
        font-size: 30px;
        padding-top: 20px;
        cursor: pointer;
    }
    .center-content {
        padding: 20px;
    }
    .search-box {
        display: flex;
        align-items: center;
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        input {
            flex-grow: 9;
            padding: 5px;
            border: none;
        }
        i {
            background-color: $main-color;
            text-align: center;
            flex-grow: 1;
            border: none;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

main {
    .ads {
        margin: 20px 0;
        height: 200px;
        overflow: hidden;
        img {
            padding: 2px;
            height: 100%;
        }
        .ads-slider {
            position: relative;
            height: 100%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
            }
        }
        .ads-static {
            height: 100%;
            display: none;
            flex-wrap: wrap;
            div {
                height: 50%;
            }
        }
    }
    .sidebar {
        align-items: start;
        .sidebar-item {
            width: calc(200%/10);
            padding: 10px;
            text-align: center;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
            img {
                width: 50%;
            }
        }
    }
    .main-content {
        background-color: $second-color;
        padding-top: 20px;
        .menu {
            background-color: white;
            border-radius: 2px;
            position: relative;
            p {
                padding: 20px;
                color: rgba(0, 0, 0, 0.54);
                font-size: 16px;
            }
            .menu-item {
                display: flex;
                overflow: hidden;
                .items {
                    flex-shrink: 0;
                    width: calc(200%/10);
                    border: 1px solid $second-color;
                    cursor: pointer;
                    transition: transform 0.5s ease;
                    text-align: center;
                    padding: 10px;
                    img {
                        width: 100%;
                    }
                    &:hover {
                        border: 2px solid $second-color;
                    }
                }
            }
            .btn {
                width: 30px;
                height: 30px;
                border: 1px solid $second-color;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-50%, -50%) scale(1);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                
                &:hover {
                    transform: translate(-50%, -50%) scale(1.5);
                }
            }
            #left-btn {
                left: 0;
            }
        }
        .products {
            .products-header {
                color: $main-color;
                padding: 20px;
                background-color: white;
                margin: 20px 0;
                text-align: center;
                cursor: pointer;
                border-bottom: 3px solid $main-color;
            }
            .products-content {
                justify-content: space-around;
                background-color: $second-color;
                .product {
                    width: 190px;
                    padding: 5px;
                    position: relative;
                    background-color: white;
                    margin: 5px;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid $main-color;
                    }
                    .products-bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .detail {
                        padding: 20px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .product-footer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                    }
                    .price {
                        color: $main-color;
                        font-size: 20px;
                    }
                    .sold {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
    }
}
/* small screen */
@media (max-width: 739px) {
    
}
/* medium screen */
@media (min-width: 740px) and (max-width: 1023px) {
    
}
/* large screen */
@media (min-width: 1024px) {
    header .left-navbar {
        display: flex;
    }
    header .right-navbar ul {
        justify-content: end;
    }
    header .bottom-navbar {
        display: flex;
    }
    header .split-right-nav {
        flex-grow: 0;
    }
    header .cart i {
        font-size: 50px;
    }
    header .logo {
        padding: 10px;
    }
    main .ads .ads-static {
        display: flex;
    }
    main .sidebar .sidebar-item {
        width: calc(100%/10);
    }
    main .main-content .menu .menu-item .items {
        width: calc(100%/10);
    }
}
@media (min-width: 1239px) {
    main .ads {
        height: 250px;
    }
}
