@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

header {
  background-color: #ee4d2d;
  height: 120px;
  color: white;
}
header .container {
  height: 100%;
}
header .navbar {
  height: 20%;
}
header .header-content {
  height: 80%;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header .left-navbar {
  display: none;
}
header .bottom-navbar {
  display: none;
}
header .right-navbar ul {
  justify-content: end;
}
header li {
  cursor: pointer;
  padding: 5px;
}
header .split-right-nav {
  flex-grow: 1;
}
header .logo {
  display: flex;
  align-items: center;
  padding: 0 0 10px 10px;
}
header .cart {
  text-align: center;
}
header .cart i {
  font-size: 30px;
  padding-top: 20px;
  cursor: pointer;
}
header .center-content {
  padding: 20px;
}
header .search-box {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
header .search-box input {
  flex-grow: 9;
  padding: 5px;
  border: none;
}
header .search-box i {
  background-color: #ee4d2d;
  text-align: center;
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

main .ads {
  margin: 20px 0;
  height: 200px;
  overflow: hidden;
}
main .ads img {
  padding: 2px;
  height: 100%;
}
main .ads .ads-slider {
  position: relative;
  height: 100%;
}
main .ads .ads-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
main .ads .ads-static {
  height: 100%;
  display: none;
  flex-wrap: wrap;
}
main .ads .ads-static div {
  height: 50%;
}
main .sidebar {
  align-items: start;
}
main .sidebar .sidebar-item {
  width: 20%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
main .sidebar .sidebar-item:hover {
  transform: scale(1.2);
}
main .sidebar .sidebar-item img {
  width: 50%;
}
main .main-content {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding-top: 20px;
}
main .main-content .menu {
  background-color: white;
  border-radius: 2px;
  position: relative;
}
main .main-content .menu p {
  padding: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}
main .main-content .menu .menu-item {
  display: flex;
  overflow: hidden;
}
main .main-content .menu .menu-item .items {
  flex-shrink: 0;
  width: 20%;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  transition: transform 0.5s ease;
  text-align: center;
  padding: 10px;
}
main .main-content .menu .menu-item .items img {
  width: 100%;
}
main .main-content .menu .menu-item .items:hover {
  border: 2px solid #f5f5f5;
}
main .main-content .menu .btn {
  width: 30px;
  height: 30px;
  border: 1px solid #f5f5f5;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .main-content .menu .btn:hover {
  transform: translate(-50%, -50%) scale(1.5);
}
main .main-content .menu #left-btn {
  left: 0;
}

/* small screen */
/* medium screen */
/* large screen */
@media (min-width: 1024px) {
  header .left-navbar {
    display: flex;
  }
  header .right-navbar ul {
    justify-content: end;
  }
  header .bottom-navbar {
    display: flex;
  }
  header .split-right-nav {
    flex-grow: 0;
  }
  header .cart i {
    font-size: 50px;
  }
  header .logo {
    padding: 10px;
  }
  main .ads .ads-static {
    display: flex;
  }
  main .sidebar .sidebar-item {
    width: 10%;
  }
  main .main-content .menu .menu-item .items {
    width: 10%;
  }
}
@media (min-width: 1239px) {
  main .ads {
    height: 250px;
  }
}/*# sourceMappingURL=style.css.map */